.root {
	position: relative;
	margin-top: calc(var(--mantine-spacing-xl) * 1.2);

	& > div {
		position: relative;
		top: calc(-5rem * var(--mantine-scale));
	}

	& > button {
		position: absolute;
		left: -40px;
	}

	& > a {
		color: var(--mantine-color-text);
		cursor: pointer;
		text-decoration: none;
		font-size: inherit;
	}
}
